public
.cache
.DS_Store

/.env
/build/
/packages/*/dist/
/packages/*/LICENSE.md
node_modules/
yarn-error.log
tsconfig.tsbuildinfo

/jacob
/fixtures/cloudflare
/fixtures/test
/fixtures/my-remix-app
/fixtures/deno-app
/integration/playwright-report
/integration/test-results
/uploads

.eslintcache
.tmp

/scripts/deployment-test/apps
/scripts/deployment-test/package-lock.json
/scripts/deployment-test/yarn.lock
/scripts/deployment-test/pnpm-lock.yaml

/.idea/
/playground
/scripts/playground/template.local
/scripts/playground/template/build
/scripts/playground/template/package-lock.json
/scripts/playground/template/yarn.lock
/scripts/playground/template/pnpm-lock.yaml

/NOTES.md
/RELEASENOTES.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
